<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/blog_masthead' %>
      <%= render 'shared/blog_nav' %>
      <main role="main" class="container mt-5">
        <div class="row">
          <%= yield %>
          <%= render 'shared/blog_sidebar' %>
        </div>
      </main>
      <%= source_helper('blog') %>
    </div>
    <%= render 'shared/blog_footer' %>
    <%= alerts %>
  </body>
</html>
